{% extends 'header.html' %}

{% block content %}
  <h2>Login Page</h2>
  <form method="post" id="loginForm">
    <label for="username">Username:</label>
    <input name="username" id="username" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>

    <button type="submit">Login</button>
  </form>
  
  <div id="loading-spinner" class="loading-spinner-container">
    <div class="spinner"></div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById('loginForm').addEventListener('submit', function() {
    document.getElementById('loading-spinner').style.display = 'flex';
  });
</script>
{% endblock %}
